{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Horizontal Menu</title>



    <!-- Bootstrap core CSS -->
    <link href={% static "flatlab/admin/template_content/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "flatlab/admin/template_content/css/bootstrap-reset.css" %} rel="stylesheet">
    
    <!--external css-->

    <link href={% static "flatlab/admin/template_content/assets/font-awesome/css/font-awesome.css" %} rel="stylesheet" />

    <!--<link href="css/navbar-fixed-top.css" rel="stylesheet">-->

      <!-- Custom styles for this template -->

    <link href={% static "flatlab/admin/template_content/css/style.css" %} rel="stylesheet">
    <link href={% static "flatlab/admin/template_content/css/style-responsive.css" %} rel="stylesheet" />

    <link href={% static "flatlab/admin/template_content/assets/morris.js-0.4.3/morris.css" rel="stylesheet" %} />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="full-width">

  <section id="container" class="">
      
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper" style="margin-top:0px">
              <!-- page start-->
              <div class="row">
                  <div class="col-lg-12">
                      
                      <section class="panel">
                          <header class="panel-heading">
                              Statistical Arbitrage Strategy - 1
                              
                          </header>
                          <div class="panel-body">
                              <p>
                                This investment strategy aims to take advantage of short lived pricing inefficiencies in equity markets. Every {{ return_period_days }} trading days, this model finds stocks that in the past week are over performing or under-performing relative to their peer group. It then constructs a market neutral portfolio of long positions on under-performing equities and short positions on over-performing equities. If these selected equities are indeed temporarily misplaced, then holding these positions for a short period of time will likely result in positive returns in normal market environments as the stock prices regress to their means. 
                              </p>
                              <p>
                                Note: This strategy is active on all S&P 500 securities. 
                              </p>
                              
                          </div>
                      </section>

                  </div>
              </div>

              
              <div class="row">
                  <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-12">
                          <section class="panel">
                                
                                <header class="panel-heading">
                                  Long positions
                              </header>
                              <div class="panel-body">
                                  <section id="unseen">
                                    <table class="table table-bordered table-striped table-condensed">
                                      <thead>
                                      <tr>
                                          <th>Ticker</th>
                                          <th>Pairs</th>
                                          <th class="numeric">{{ return_period_days }}-day Return (%)</th>
                                          <th class="numeric">Score</th>
                                          <th class="numeric">Weight (%)</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {% for i in long_picks %}  
                                        <tr>
                                            <td>{{ i.2 }} </td>
                                            <td>
                                                {% for k in i.3 %}
                                                  {{ k }}, 
                                                {% endfor %} 
                                            </td>
                                            <td class="numeric">{{ i.0|floatformat:"2" }}</td>
                                            <td class="numeric">{{ i.1|floatformat:"2" }}</td>
                                            <td class="numeric">{{ i.4|floatformat:"2" }}</td>
                                            
                                            
                                        </tr>
                                      {% endfor %}
                                     
                                      </tbody>
                                  </table>
                                  </section>
                              </div>
                          </section>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <section class="panel">
                                
                                <header class="panel-heading">
                                  Short positions
                              </header>
                              <div class="panel-body">
                                  <section id="unseen">
                                    <table class="table table-bordered table-striped table-condensed">
                                      <thead>
                                      <tr>
                                          <th>Ticker</th>
                                          <th>Pairs</th>
                                          <th class="numeric">{{ return_period_days }}-day Return (%)</th>
                                          <th class="numeric">Score</th>
                                          <th class="numeric">Weight (%)</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {% for i in short_picks %}  
                                        <tr>
                                            <td>{{ i.2 }} </td>
                                            <td>
                                                {% for k in i.3 %}
                                                  {{ k }}, 
                                                {% endfor %} 
                                            </td>
                                            <td class="numeric">{{ i.0|floatformat:"2" }}</td>
                                            <td class="numeric">{{ i.1|floatformat:"2" }}</td>
                                            <td class="numeric">{{ i.4|floatformat:"2" }}</td>
                                            
                                            
                                        </tr>
                                      {% endfor %}
                                     
                                      </tbody>
                                  </table>
                                  </section>
                              </div>
                          </section>
                        </div>
                      </div>
                  </div>

                  <div class="col-lg-6">
                    
                    <div class="row">
                        <div class="col-lg-12">          
                            
                            <div class="alert alert-info fade in">
                                  
                                  Last updated:<strong> {{ updated_date|date:"M d, Y" }}</strong>
                              </div>

                            
                        </div>
                      </div>


                    <div class="row state-overview">
                  
                        <div class="col-lg-4 col-sm-4">
                            <section class="panel">
                                <div class="symbol blue">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="value">
                                    <h1 class=" count3">
                                        {{ ttm_return|floatformat:"2" }}
                                    </h1>
                                    <p>TTM Return</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <section class="panel">
                                <div class="symbol blue">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="value">
                                    <h1 class=" count4">
                                        {{ ttm_sharpe|floatformat:"2" }}
                                    </h1>
                                    <p>TTM Sharpe Ratio</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <section class="panel">
                                <div class="symbol blue">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="value">
                                    <h1 class=" count4">
                                        {{ ttm_beta|floatformat:"2" }}
                                    </h1>
                                    <p>TTM Market Beta</p>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12">
                        <section class="panel">
                          <header class="panel-heading">
                              Cumulative Returns
                          </header>
                          <div id="returns_prod"></div>
                        </section>
                      </div>
                    </div>
                    

                    <div class="row">
                      <div class="col-lg-12">
                        <section class="panel">
                          <header class="panel-heading">
                              {{ return_period_days }}-Day Returns
                          </header>
                        <div id="returns"></div>
                        </section>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-lg-12">
                      
                      <section class="panel">
                          <header class="panel-heading">
                              Methodology
                              
                          </header>
                          <div class="panel-body">
                              
                                <p><b>Scoring Phase:</b></p>
                                <p>For each ticker in the S&P:</p>
                                <p>1 - Find a set of equities with which its returns have recently been cointegrated. These sets represent the equity’s peer group.</p>
                                <p>2 - Calculate historical differences in returns between equity and its peers.</p>
                                <p>3 - Compare recent performance of the equity to it’s peer group. Assign a score to the equity — a high score representing a recently under-performing equity and a low score representing a recently over-performing equity.</p>
                                {% comment %}
                                <p>1 - Calculate the beta of the ticker relative to the S&P.</p>
                                <p>2 - Find a set of equities with which its returns have recently been cointegrated. These sets represent the equity’s peer group.</p>
                                <p>3 - Construct a portfolio composed of cointegrated equities so that the portfolio’s beta to the market as a whole is equal to the individual security's. This portfolio has the same risk profile as the equity in question and can be used for benchmarking.</p>
                                <p>4 - Compare recent performance of the equity to it’s peer group. Assign a score to the equity — a high score representing a recently under-performing equity and a low score representing a recently over-performing equity.</p>
                                {% endcomment %}
                                </br>
                                <p><b>Risk-reduction Phase:</b></p>
                                <p>1 - Select a number of highest scoring equities with which to take long positions and a number of lowest scoring equities with which to take short positions.</p>
                                <p>2 - Construct a portfolio of selected securities so that the portfolio’s recent beta relative to the market is zero. In other words, construct a market-neutral portfolio of stocks that are believed to be temporarily over-valued and under-valued.</p>
                                </br>
                                <p><b>Simulation / Back-testing:</b></p>
                                <p>1 - Choose a starting point in recent history and construct a market-neutral portfolio of high and low </p>scoring equities.</p>
                                <p>2 - Calculate the performance of the portfolio one week from the date of portfolio construction.</p>
                                <p>3 - Exit all positions.</p>
                                <p>4 - Move forward a week in time and repeat the process.</p>
                              
                              
                          </div>
                      </section>

                  </div>
                    </div>
                  </div>                  
                  

              </div>

              
              
              

              
          </section>
      </section>
      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              By Ryan Houck
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    
    <script src={% static "flatlab/admin/template_content/js/jquery.js" %}></script>
    <script src={% static "flatlab/admin/template_content/js/bootstrap.min.js" %}></script>
    <script class="include" type="text/javascript" src={% static "flatlab/admin/template_content/js/jquery.dcjqaccordion.2.7.js" %}></script>
    <script type="text/javascript" src={% static "flatlab/admin/template_content/js/hover-dropdown.js" %}></script>
    <script src={% static "flatlab/admin/template_content/js/jquery.scrollTo.min.js" %}></script>
    <script src={% static "flatlab/admin/template_content/js/jquery.nicescroll.js" %} type="text/javascript"></script>
    <script src={% static "flatlab/admin/template_content/js/respond.min.js" %} ></script>
    
    <!--common script for all pages-->
    
    <script src={% static "flatlab/admin/template_content/js/common-scripts.js" %}></script>


    <script src={% static "flatlab/admin/template_content/assets/morris.js-0.4.3/morris.min.js" %} type="text/javascript"></script>
    <script src={% static "flatlab/admin/template_content/assets/morris.js-0.4.3/raphael-min.js" %} type="text/javascript"></script>
    <!--right slidebar-->
    {% comment %}
      <script src={% static "flatlab/admin/template_content/js/slidebars.min.js" %}></script>
    {% endcomment %}
    <!--common script for all pages-->
    <script src={% static "flatlab/admin/template_content/js/common-scripts.js" %}></script>

    <!-- script for this page only-->
    <!--
    <script src={% static "flatlab/admin/template_content/js/morris-script.js" %}></script>
  -->
  <script src={% static "highstock.js" %}></script>
  


 
<script>
$(function () {
    $('#returns').highcharts('StockChart', {
        
        rangeSelector: {
                    selected: 4
                },   
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
                    labels: {
                        formatter: function () {
                            return (this.value > 0 ? ' + ' : '') + this.value + '%';
                        }
                    },
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }]
                }, 
        tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}%</b><br/>',
                    valueDecimals: 2
                },
        legend: {
            enabled: true,
        },
        series: [{
            name: 'Strategy',
            data: {{ returns.strategy }}
        }, {
            name: 'S&P Index',
            data: {{ returns.index }}
        }]
    });
  $('#returns_prod').highcharts('StockChart', {
        
        rangeSelector: {
                    selected: 4
                },   
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
                    labels: {
                        formatter: function () {
                            return (this.value > 0 ? ' + ' : '') + this.value + '%';
                        }
                    },
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }]
                }, 
        tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}%</b><br/>',
                    valueDecimals: 2
                },
        legend: {
            enabled: true,
        },
        series: [{
            name: 'Strategy',
            data: {{ returns_prod.strategy }}
        }, {
            name: 'S&P Index',
            data: {{ returns_prod.index }}
        }]
    });
});



</script>



    

  </body>
</html>
